# host specific makefiles
local.mk
local.cmake

# build tree directories
build/

# temporary directories
temp/

# VS Code personal/host-specific settings
.vscode/launch.json

# temporary files
diff.txt
*.bak
*.tmp
*.log
