# debug.cfg - Start OpenOCD GDB server for G431-ESC1 via onboard ST-Link
#
# Usage: openocd -f debug.cfg
#
# Leaves OpenOCD running as GDB server on port 3333.
# Stop with Ctrl+C when done.

source [find interface/stlink.cfg]
source [find target/stm32g4x.cfg]
adapter speed 1800
