# flash.cfg - Flash main.hex to G431-ESC1 via onboard ST-Link
#
# Usage: openocd -f flash.cfg
#
# When copying this project, update HEX_FILE to match your TARGET name.

set HEX_FILE "build/main.hex"

source [find interface/stlink.cfg]
source [find target/stm32g4x.cfg]
adapter speed 1800
program $HEX_FILE verify reset exit
