# flash.cfg - Flash a .elf to the Pico via Raspberry Pi Debug Probe
#
# Usage: openocd -f flash.cfg
#
# When copying this project, update ELF_FILE to match the TARGET variable
# in CMakeLists.txt.

set ELF_FILE "build/blink.elf"

source [find interface/cmsis-dap.cfg]
source [find target/rp2040.cfg]
adapter speed 5000
program $ELF_FILE verify reset exit
